*{
  background-color:rgb(255, 255, 255);

}

.container {
  display: flex;
  grid-template-columns: 50% 50%;
  height: 100%;
}
.video-player-container {
  position: relative;
  width: 50% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  overflow: hidden !important;
}

.video-player {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  object-fit: cover !important;
}


.button-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 50% !important;
}
.button-style{
  background-color: lightgray;
  font-size: 20px;
  color: rgb(125, 0, 254);
  padding: 20px 40px;
  border-radius: 28px;
  border-color: rgb(125, 0, 254);
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding-left: 10px;
}